#username-container {
  padding: 10px;
}

#text-container {
  padding: 10px;
}
.icons {
  font-size: 1.7rem;
  margin-right: 15px;
}
p {
  margin-bottom: 0 !important;
}
input {
  border: none;
  border-color: transparent;
  outline: none;
  width: 100%;
}

.add-a-comment {
  padding: 8px 12px !important;
}
#post-button {
  padding: 0;
  text-decoration: none;
}

#avatar {
  width: 2.4rem;
  height: 2.4rem;
}
